.App-header {
  background-color: #282c34;
  min-height: 100vh;
} 
.App {
  display: flex;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}
