div .MapView {
    width: 70%;
    background-color: yellowgreen;
    overflow: scroll;

}
div .MapRow {
    overflow: visible;
    white-space:nowrap;
    height: fit-content;
    display: flex;
}

div .MapRow .MapTile {
    border: 1px solid black;
    width: 4%;
}