div .MapView {
    width: 70%;
    background-color: aquamarine;
    overflow: scroll;

}
div .MapRow {
    overflow: visible;
    white-space:nowrap;
}

div .MapRow .MapTile {
    border: 1px solid black;
    width: 4%;
}